.List {
    border: 1px solid gray;
}

.ListItemEven,
.ListItemOdd {
    display: flex;
    align-items: center;
    justify-content: center;
}
.ListItemOdd {
    background-color: rgb(245, 245, 245);
}
.ListItemEven {
    background-color: red;
}