.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*页面第一次加载时的开始状态*/
.fade-appear {
  background-color: blue;
}

/*页面第一次加载时的动画过程*/
.fade-appear-active {
  background-color: green;
  transition: background-color 2s linear;
}
.fade-appear-done {
  background-color: yellow;
  transition: background-color 3s linear;
}
